<div class="container">
    <div class="row page-title mt-3 justify-content-center">
        <div class="col-md-12 align-middle text-center bg-black rounded p-2">
            <h5 class="text-light">ADMINS</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                CREATE ADMIN
              </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#searchAdminModal">
                SEARCH ADMIN
              </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#exportAdminModal">
                EXPORT DATA
              </button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">30</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Total Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">0</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Today's Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">7</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">30 days Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">7</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">90 days Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">2</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Deleted Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">30</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Logined Count</h6>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Perform Action</th>
              </tr>
            </thead>
            <tbody>         
            <tr *ngFor="let admin of allAdmins">
                <th scope="row">{{admin.id}}</th>
                <td>{{admin.firstName}}</td>
                <td>{{admin.lastName}}</td>
                <td>{{admin.email}}</td>
                <td>{{admin.mobNum}}</td>
                <td>
                    <span>
                        <button class="btn bg-light border-0 mx-1" data-bs-toggle="modal" data-bs-target="#editAdminModal" (click)="fetchAdminDetails(admin.id)" ><i class="bi bi-pen-fill"></i></button>
                    </span>
                    <span>
                        <button class="btn bg-light border-0 mx-1" (click)="deleteAdmin(admin.id)"><i class="bi bi-trash3"></i></button>
                    </span>
                    <span>
                        <button class="btn bg-light border-0 mx-1" data-bs-toggle="modal" data-bs-target="#adminLogsModal" (click)="fetchAdminLogs(admin.id)"><i class="bi bi-info-square"></i></button>
                    </span>
                </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>



<!-- MODELS FORM   -->

<div #createAdmin class="modal fade" id="createAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Admin</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="postAdminForm" (ngSubmit)="crateAdmin()">
                <div class="form-group">
                  <label for="InputFirstName">First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                  <label for="InputLastName">Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="InputMobNum">Mobile Number</label>
                    <input type="number" class="form-control" formControlName="mobNum" placeholder="Enter Mobile Number">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Temporary Password">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Create</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Edit Admin Modal -->
  <div #editAdminModal class="modal fade" id="editAdminModal" tabindex="-1" role="dialog" aria-labelledby="editAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Admin</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="postEditAdminForm" (ngSubmit)="editAdmin()">
                <div class="form-group">
                  <label for="InputFirstName">First Name</label>
                  <input type="text" class="form-control" formControlName="editFirstName" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                  <label for="InputLastName">Last Name</label>
                  <input type="text" class="form-control" formControlName="editLastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" formControlName="editEmail" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="InputMobNum">Mobile Number</label>
                    <input type="number" class="form-control" formControlName="editMobNum" placeholder="Enter Mobile Number">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>


  <!-- admin logs modal -->
  <div #adminLogsModal class="modal fade" id="adminLogsModal" tabindex="-1" role="dialog" aria-labelledby="adminLogsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Admin Logs</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date And Time</th>
                    <th scope="col">Action</th>
                    <th scope="col">Log</th>
                    <th scope="col">Reason</th>
                  </tr>
                </thead>
                <tbody>         
                <tr *ngFor="let log of adminLogs">
                    <th scope="row">{{log.logDateTime}}</th>
                    <td>{{log.action}}</td>
                    <td>{{log.log}}</td>
                    <td>{{log.reason}}</td>
                    </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>


  <!-- search admin modal -->

  <div #searchAdminModal class="modal fade" id="searchAdminModal" tabindex="-1" role="dialog" aria-labelledby="searchAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search Admin</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <select class="custom-select" id="inputGroupSelect01">
                    <option value="firstName" selected>First Name</option>
                    <option value="LastName">Last Name</option>
                    <option value="email">Email</option>
                    <option value="mobNum">Mobile Number</option>
                  </select>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary w-25">Search</button>
            </div>  
        </div>
      </div>
    </div>
  </div>


  <!-- export data modal -->
  <div #exportAdminModal class="modal fade" id="exportAdminModal" tabindex="-1" role="dialog" aria-labelledby="exportAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Export Admins Data</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Select Date From</label>
                <input type="date" id="start" class="form-control" name="start-from" value="2024-01-01"
                min="2024-01-01" max="2050-12-31"/><br>
                <label>Select Date To</label>
                <input type="date" id="start" class="form-control" name="start-from" value="2024-01-01"
                min="2024-01-01" max="2050-12-31"/>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary w-25">Export</button>
            </div>  
        </div>
      </div>
    </div>
</div>