<div class="container">
    <div class="row page-title mt-3 justify-content-center">
        <div class="col-md-12 align-middle text-center bg-black rounded p-2">
            <h5 class="text-light">PRODUCTS</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                ADD PRODUCT
              </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                SEARCH PRODUCT
              </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                EXPORT DATA
              </button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">30</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Total Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">0</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Today's Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">7</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">30 days Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">7</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">90 days Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">2</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">365 Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">30</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Deleted Count</h6>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <h6>Fashion And Styles Products</h6>
    </div>
    <div class="row">
        <div class="col-md-3 my-1">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center text-dark">Perfume</h6>
                  <p class="card-text text-dark">Quantity : 40<br>
                    Price : 150 Rs
                  </p>
                  <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                    EDIT PRODUCT
                  </button>
                </div>
              </div>
        </div>
        <div class="col-md-3 my-1">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center text-dark">Perfume</h6>
                  <p class="card-text text-dark">Quantity : 40<br>
                    Price : 150 Rs
                  </p>
                  <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                    EDIT PRODUCT
                  </button>
                </div>
              </div>
        </div>
        <div class="col-md-3 my-1">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center text-dark">Perfume</h6>
                  <p class="card-text text-dark">Quantity : 40<br>
                    Price : 150 Rs
                  </p>
                  <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                    EDIT PRODUCT
                  </button>
                </div>
              </div>
        </div>
        <div class="col-md-3 my-1">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center text-dark">Perfume</h6>
                  <p class="card-text text-dark">Quantity : 40<br>
                    Price : 150 Rs
                  </p>
                  <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                    EDIT PRODUCT
                  </button>
                </div>
              </div>
        </div>
        <div class="col-md-3 my-1">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center text-dark">Perfume</h6>
                  <p class="card-text text-dark">Quantity : 40<br>
                    Price : 150 Rs
                  </p>
                  <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                    EDIT PRODUCT
                  </button>
                </div>
              </div>
        </div>
    </div>

</div>



<!-- MODELS FORM   -->

<div class="modal fade" id="createAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Admin</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="InputFirstName">First Name</label>
                  <input type="text" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                  <label for="InputLastName">Last Name</label>
                  <input type="text" class="form-control" id="inputPassword1" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="inputPassword1" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="InputMobNum">Mobile Number</label>
                    <input type="number" class="form-control" id="inputPassword1" placeholder="Enter Mobile Number">
                </div>
              </form>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Create</button>
                <button type="button" class="btn btn-black" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
      </div>
    </div>
  </div>


