<section class="main-container">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
            <div class="nav-items">
                <div class="container py-4">
                  <img src="../assets/images/web_logo.jpeg" width="40px" height="40px"><span class="brand-text">FRUGAL BASKETER</span>
                </div>
                <div class="nav-item" [routerLinkActive]="'active'" >
                    <div class="nav-link">
                        <a class="item-text" routerLink="home"><i class="bi bi-house"></i><span>HOME</span></a>
                    </div>
                </div>
                <div class="nav-item" [routerLinkActive]="'active'">
                    <div class="nav-link">
                        <a class="item-text" routerLink="users"><i class="bi bi-person"></i><span>USERS</span></a>
                    </div>
                </div>
                <div class="nav-item" [routerLinkActive]="'active'">
                    <div class="nav-link">
                        <a class="item-text" routerLink="admins"><i class="bi bi-shield-lock"></i><span>ADMINS</span></a>
                    </div>
                </div>
                <div class="nav-item" [routerLinkActive]="'active'">
                  <div class="nav-link">
                      <a class="item-text" routerLink="operators"><i class="bi bi-shop"></i><span>OPERATORS</span></a>
                  </div>
              </div>
                <div class="nav-item" [routerLinkActive]="'active'">
                    <div class="nav-link">
                        <a class="item-text" routerLink="billing"><i class="bi bi-coin"></i><span>BILLING</span></a>
                    </div>
                </div>
                <div class="nav-item" [routerLinkActive]="'active'">
                  <div class="nav-link">
                      <a class="item-text" routerLink="products"><i class="bi bi-menu-button-fill"></i><span>PRODUCTS</span></a>
                  </div>
              </div>
              <div class="nav-item">
                <div class="nav-link">
                    <a class="item-text" routerLink="orders"><i class="bi bi-cart3"></i><span>ORDERS</span></a>
                </div>
            </div>
              <div class="nav-item">
                <div class="nav-link">
                    <a class="item-text" routerLink="dispatched"><i class="bi bi-truck"></i><span>DISPATCHED</span></a>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-link">
                    <a class="item-text" routerLink="report"><i class="bi bi-flag"></i><span>REPORTS</span></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-10">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</section>

<script type="text/javascript">
  $("nav-item").click(function() {
    $("nav-item").css("background-color", "")
    $(this).css("background-color","grey")
  });

</script>