<div class="container">
    <div class="row page-title mt-3 justify-content-center">
        <div class="col-md-12 align-middle text-center bg-black rounded p-2">
            <h5 class="text-light">ORDERS</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                SEARCH ORDER
              </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAdmin">
                EXPORT DATA
              </button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">30</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Total Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">0</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Today's Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">7</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">30 days Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">7</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">90 days Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">2</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Deleted Count</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow-lg bg-black rounded">
                <h5 class="card-title text-center">30</h5>
                <h6 class="card-subtitle mb-2 text-body-primary text-center pt-2">Rejected Count</h6>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Order Id</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Perform Action</th>
              </tr>
            </thead>
            <tbody>         
            <tr *ngFor="let admin of allAdmins">
                <th scope="row">{{admin.id}}</th>
                <td>{{admin.firstName}}</td>
                <td>{{admin.lastName}}</td>
                <td>{{admin.email}}</td>
                <td>{{admin.mobNum}}</td>
                <td>
                    <span>
                        <a class="action-icon px-2"><i class="bi bi-pen-fill"></i></a>
                    </span>
                    <span>
                        <a class="action-icon px-2"><i class="bi bi-trash3"></i></a>
                    </span>
                    <span>
                        <a class="action-icon px-2"><i class="bi bi-info-square"></i></a>
                    </span>
                </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>



<!-- MODELS FORM   -->

<div class="modal fade" id="createAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Admin</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="InputFirstName">First Name</label>
                  <input type="text" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                  <label for="InputLastName">Last Name</label>
                  <input type="text" class="form-control" id="inputPassword1" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="inputPassword1" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="InputMobNum">Mobile Number</label>
                    <input type="number" class="form-control" id="inputPassword1" placeholder="Enter Mobile Number">
                </div>
              </form>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Create</button>
                <button type="button" class="btn btn-black" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
      </div>
    </div>
  </div>


